<div class="studentFormComponent">
    <div *ngIf="isPageLoaded">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <h3 class="componentTitle">Student form ({{mode}})</h3>
            <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" name="firstName" [(ngModel)]="student.firstName" #firstName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }" [disabled]="mode === 'edit'" required />
                    <div *ngIf="f.submitted && firstName.invalid" class="invalid-feedback">
                        <div *ngIf="firstName.errors.required">First Name is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" [(ngModel)]="student.lastName" #lastName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }" [disabled]="mode === 'edit'" required />
                    <div *ngIf="f.submitted && lastName.invalid" class="invalid-feedback">
                        <div *ngIf="lastName.errors.required">Last Name is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" name="email" [(ngModel)]="student.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" [disabled]="mode === 'edit'" email />
                    <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                        <div *ngIf="email.errors.email">Email must be a valid email address</div>
                    </div>
                </div>
                <div class="form-group">
                  <p-multiSelect name="subjects"  [options]="subjects" [(ngModel)]="student.subjects" [panelStyle]="{minWidth:'12em'}"></p-multiSelect>
                  <p>Selected subjects: {{student.subjects}}</p>
                </div>
                <div class="form-group">
                    <button class="btn btn-success" type="submit" [disabled]="actionsDisabled" *ngIf="mode === 'new'">Create student</button>
                    <button class="btn btn-success" type="submit" [disabled]="actionsDisabled" *ngIf="mode === 'edit'">Update student</button>
                    <button class="btn btn-danger" type="button" (click)="onExitForm()" [disabled]="actionsDisabled">Exit form</button>
                </div>
            </form>
        </div>
    </div>
  </div>
  <div *ngIf="!isPageLoaded"><h3>Loading data...</h3></div>
</div>