.header {
    padding-top: 15px;
    padding-bottom: 15px;
}
.header .componentTitle {
    display: inline-block;
    padding-left: 15px;
}
.header .addStudent {
    float: right;
    display: inline-block;
    margin-right: 15px;
}
.card-header {
    display: flex;
    padding: .40rem 1.25rem;
}
.studentName {
    font-size: 1.15rem;
}
.card-body {
    display: flex;
    padding: .40rem 1.25rem;
}
.subjects {
    display: flex;
}
.subject,
.label {
    display: inline-block;
}
.student {
    padding-left: 15px;
    padding-right: 15px;
}
.buttons{
    float: right;
}
a {
    cursor: pointer;
}