<div class="overviewComponent">
  <div *ngIf="isPageLoaded">
    <div class="header">
      <h3 class="componentTitle">Students overview</h3>
      <button type="button" class="addStudent btn btn-success" (click)="onCreateStudent()" [disabled]="actionsDisabled">Add new student</button>
    </div>
    <div class="student" *ngFor="let student of pagedStudents;   let index = index">
      <div class="card bg-light mb-3">
          <div class="card-header">
            <div class="studentName col-lg-10"><b>{{student.firstName}} {{student.lastName}}</b></div>
            <div class="actions col-lg-2">
              <div class="buttons">
                <button type="button" class="btn btn-outline-primary" (click)="onEditStudent(student)" [disabled]="actionsDisabled">Edit</button>
                <button type="button" class="btn btn-outline-danger" (click)="onDeleteStudent(index)" [disabled]="actionsDisabled">Delete</button>
              </div>
            </div>
          </div>
          <div class="card-body">
              <div class="email col-lg-2"><b>Email: </b>{{student.email}}</div>
              <div class="subjects col-lg-10">
                <div class="label"><b>Subjects:&nbsp;</b></div>
                <div class="test">
                    <div class="subject" *ngFor="let subject of student.subjects;   let subjectIndex = index">
                        <a>{{subject}}</a>
                        <a *ngIf="subjectIndex != student.subjects.length -1">,&nbsp;</a>
                    </div>
                </div>
              </div>
          </div>
        </div>
      </div>
  
      <!-- pager -->
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
          <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
              <a class="page-link" (click)="setPage(1)">First</a>
          </li>
          <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
              <a class="page-link" (click)="setPage(pager.currentPage - 1)">Previous</a>
          </li>
          <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
              <a class="page-link" (click)="setPage(page)">{{page}}</a>
          </li>
          <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a class="page-link"(click)="setPage(pager.currentPage + 1)">Next</a>
          </li>
          <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a class="page-link" (click)="setPage(pager.totalPages)">Last</a>
          </li>
      </ul>
  </div>
  <div *ngIf="!isPageLoaded"><h3>Loading data...</h3></div>
</div>

