<div class="loginComponent">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h3 class="componentTitle">Log in</h3>
          <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
              <div class="form-group">
                  <label for="email">Email</label>
                  <input type="text" class="form-control" name="email" [(ngModel)]="credentials.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" email required />
                  <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                      <div *ngIf="email.errors.email">Email must be a valid email address</div>
                      <div *ngIf="email.errors.required">Email is required</div>
                  </div>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="text" class="form-control" name="password" [(ngModel)]="credentials.password" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required />
                <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                    <div *ngIf="password.errors.required">Password is required</div>
                </div>
            </div>
              <div class="form-group">
                  <button class="btn btn-success" type="submit" [disabled]="actionsDisabled">Log in</button>
              </div>
          </form>
      </div>
  </div>

</div>